body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#marks{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f5f5;
    border: 1px solid #000;
    width: 300px;
    min-height: 400px;
}

li{
    font-size: 1.2rem;
    list-style-type: none;
}